.Detail {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center; /* Centra el contenido en el contenedor */
    font-family: sans-serif;
    padding: 20px; /* Opcional: Agrega espacio alrededor del contenedor */
}
.DetailContent {
    
    flex-direction: column;
    align-items: center;
}

.Detail img {
    width: 300px;
    margin-left: 200px;
   align-self:auto;
}
.sneakerTable {
    border-collapse: collapse; /* Elimina los espacios entre bordes de celdas */
    width: 50%; /* Opcional: Hace que la tabla ocupe el 100% del ancho del contenedor */
    border:none;
    align-items: flex-start;
    font-family: 'roboto';
    
}

.sneakerTable td {
    border: none; 
    padding: 20px 50px; 
    font-weight:normal;
    text-align: left;
}

.sneakerTable tr {
    border: none;
    font-weight: bolder;
    padding: 20px
}


.sneakerTable .boldTd {
    font-weight: bolder;
    font-size: large;
    font-family: sans-serif;
}
.styedButton {
    background-color: #76885bc5;
    color: rgb(0, 0, 0);
    border-color: #999999;
    font-size: large;
    font-weight: bold;
    width: 300px;
    height: 40px;
    border-radius: 8px;
    font-family: sans-serif;  
    justify-content: center; 
    align-items: center; 
    cursor:pointer;
    box-shadow: 2px; /* Añade una sombra para dar un efecto de elevación */
    
}

