.deleteButton {
    margin-top: 1rem; /* Ajusta el espacio entre el dropdown y el botón */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    background-color: #c40802; /* Rojo para el botón de eliminación */
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1em;
    cursor: pointer;
    text-align: center;
    padding: 0.5em 1em;
  }
  .deleteButton:hover {
    background-color: #ff0800; /* Color de fondo cuando el botón es hovered */
}

  .searchButton{
    justify-content: center;
    background-color: #949494;
    font-size: bold;
  }
  .centered{
    justify-content: center;
    display: flex;
    align-items: center;

  }
  .SearchTittle{
    font-size: bolder;

  }