.formContainer {
  width: 500px; 
  margin: 0 auto;
}

form {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.pField {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  width: 100%;
}

.pField label {
  flex: 0 0 150px;
  margin-right: 1rem;
  text-align: right;
}

.pField .p-inputtext,
.pField .p-dropdown,
.pField .p-multiselect,
.pField .p-inputtextarea,
.pField .p-fileupload {
  flex: 1;
}

.pField .p-card-footer {
  margin-top: 1rem;
  text-align: center;
}

.pFieldButton {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  background-color: #949494 !important;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 4px;
  font-size: 1em;
  cursor: pointer;
}

.pFieldButton:disabled {
  background-color: #d3d3d3;
  cursor: not-allowed;
}

.imagePreview {
  width: 100%;
  margin-bottom: 1rem;
}

.imagePreview img {
  width: 100%;
  height: auto;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.sizeFieldContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-height: none;
}
.searchButton{
  justify-content: center;
  background-color: #949494;
  font-size: bold;
}