.Home {
    display: grid;
    grid-template-columns: 20% 80%;
}

.Cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.FiltrosYOrden {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.ParInputLabel {
    display: flex;
    align-items:end; /* Alinea verticalmente los elementos en el centro */
    margin-bottom: 10px; /* Espacio entre las filas */
}

.ParInputLabel input {
    width: 15px;
    height: 15px; /* Asegúrate de que el tamaño del input sea el adecuado */
    margin-right: 8px; /* Espacio entre el input y el label */
    background-color: #76885bc5 !important;
}

.ParInputLabel label {
    margin: 0; /* Elimina el margen por defecto del label */
    font-size: 14px; /* Tamaño de fuente consistente para los labels */
}
.boldLabel{
    font-size: large;
    font-weight: bold;
    margin-bottom: 10px;
}

.buttonPrice {
    background-color: #76885bc5 !important;
    color: rgb(0, 0, 0) !important;
    border-color: #999999;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    margin: 5px;
}
.paginatorContainer {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    margin-top: 20px; /* Espaciado opcional entre las tarjetas y el paginador */
}
