.formcontainer {
    background-color: #968c8c; /* Fondo gris */
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    margin: 0 auto;
  }
  
  .form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  
  .form-field {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  button {
    grid-column: span 2; /* Para que el botón ocupe ambas columnas */
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #0056b3;
  }