
.button {
    margin: 5px;
    margin-left: 0;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2); /* Añade una sombra para dar un efecto de elevación */
    background-color: #949494 !important; /* Asegura que el color de fondo del botón sea rojo */
    color: rgb(255, 255, 255); /* Color del texto del botón */
    border: none; /* Elimina el borde del botón si es necesario */
    padding: 0.5em 1em; /* Ajusta el padding según sea necesario */
    border-radius: 4px; /* Opcional: Redondea las esquinas del botón */
    font-size: 1em; /* Tamaño de fuente del botón */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    text-align: center; /* Alinea el texto en el centro */
    display: inline-flex; /* Alinea el botón en línea */
    align-items: center; /* Alinea el contenido verticalmente en el centro */
}

.logo{
    width: 50%;
}

.input {
    width: 100%; /* Asegurar que el input ocupe todo el ancho disponible */
    padding: 0.5rem; /* Padding interno del input */
    font-size: 1rem; /* Tamaño de fuente */
    border: 1px solid #ccc; /* Borde del input */
    border-radius: 4px; /* Bordes redondeados */
}

.input:focus {
    border-color: #000000; /* Color del borde al enfocar */
    box-shadow: 0 0 4px rgba(3, 85, 172, 0.25); /* Sombra al enfocar */
}