:root {
    --primary-color: #607d8b; /* Blue Gray */
    --primary-color-text: #ffffff;
    /* Puedes definir más variables CSS según sea necesario */
}



.p-inputtext {
    border-color: var(--primary-color) !important;
}

.p-datatable .p-datatable-thead > tr > th {
    background-color: var(--primary-color) !important;
    color: var(--primary-color-text) !important;
}
.buttonPrice{
    background-color: #76885bc5;
    color: rgb(0, 0, 0);
    border-color: #999999;
    padding: 10px;
    cursor: pointer;
    border-radius:10px;
    margin: 5px;
    cursor: pointer; 
    transform: scale(1.05); /* Aumenta el tamaño de la tarjeta */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2); /* Añade una sombra para dar un efecto de elevación */
 
  }

 /* .p{
  font-family: 'roboto';
  font-weight: bold;
 } */
  